<html>
    <head>
        <script src="https://unpkg.com/vue@3/dist/vue.global.js" >
        </script>
    </head>
    <body>
        <div id="app">
            <h1>{{ title }}</h1>
            <li v-for="item in list">
                <span>{{item.id}}</span>
                <span>{{item.name}}</span>
                <img v-bind:src="item.image" alt="" >
                <input type=checkbox v-model="item.is">
                <span>{{item.is}}</span>
            </li>
        </div>
        
    </body>
    <script>
         Vue.createApp({
                data(){
                    return {
                        title:"标题",
                        list:[
                            {id:1,name:'鱿鱼丝',image:"./images/6ac54ccb31a09a5c1223677ba07c283f.jpeg",is:false},
                            {id:2,name:'辣条',image:"./images/wp9352781-oil-paint-4k-wallpapers.jpg",is:false}
                        ]
                    }
                }
            }).mount('#app');
    </script>

</html>